.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.ant-form-item {
    margin-bottom: 0; /* Remove default margin */
}